@using Teknoroma.Application.Features.Employees.Models
@model EmployeeReportViewModel
@{
    ViewData["Title"] = "EmployeeReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="card">
        <div class="card-header bg-info">
            <div class="d-flex">
                <div class="col-md-10 my-auto">
                    <h2 style="color:white;">En Çok Satış Yapan Çalışanlar</h2>
                </div>
                <div class="col-md-2">
                    <form method="get" asp-controller="Employee" asp-action="EmployeeReport">
                        <div class="d-flex">
                            <div>
                                <input type="text" class="form-control date" name="startDate" id="birthdatepicker" data-toggle="daterangepicker" data-single-date-picker="true">
                            </div>
                            <div>
                                <input type="text" class="form-control date" name="endDate" id="birthdatepicker" data-toggle="daterangepicker" data-single-date-picker="true">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block waves-effect waves-light">Filtrele</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <table id="basic-datatable-employeeSellingReport" name="employeeSellingTable" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                        <thead>
                            <tr>
                                <th class="dt-orderable-asc dt-orderable-desc">Ürün</th>
                                <th aria-sort="descending" class="dt-type-numeric dt-orderable-asc dt-orderable-desc dt-ordering-desc">Satış Yapılan Adet</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employeeSelling in Model.EmployeeSellingReportViewModels)
                            {
                                <tr>
                                    <td>
                                        @employeeSelling.UserName
                                    </td>
                                    <td>
                                        @employeeSelling.TotalSales
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <canvas id="pieChartEmployeeSellingReport" style="display: block; width: 300px; height: 330px;" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-info">
            <div class="d-flex">
                <div class="col-md-10 my-auto">
                    <h2 style="color:white;">En Çok Kazanç Elde Eden Çalışanlar</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <canvas id="pieChartEmployeeEarningReport" style="display: block; width: 300px; height: 330px;" width="300" height="300"></canvas>
                </div>
                <div class="col-md-6">
                    <table id="basic-datatable-employeeEarningReport" name="employeeEarningTable" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                        <thead>
                            <tr>
                                <th class="dt-orderable-asc dt-orderable-desc">Ürün</th>
                                <th aria-sort="descending" class="dt-type-numeric dt-orderable-asc dt-orderable-desc dt-ordering-desc">Kazanç ₺</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employeeEarning in Model.EmployeeEarningReportViewModels)
                            {
                                <tr>
                                    <td>
                                        @employeeEarning.UserName
                                    </td>
                                    <td>
                                        @employeeEarning.TotalPrice ₺
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

