
@{
    ViewData["Title"] = "Hakkımızda - Teknoroma";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="row">
   <div class="col-12">
        <div class="card">
            <div class="card-header mx-auto" style="background-color:white;">
                <h1>Hakkımızda</h1>
            </div>
            <hr />
            <div class="card-body">
                <span>
                    <b>Hoş Geldiniz!</b>
                    <br />
                    <br />
                    Teknoroma, 2010 yılında başladığı ticaret serüveninde, her türlü ürünle müşterilerine hizmet sunmaktan gurur duyan bir şirkettir. Sektördeki deneyim ve tutku ile büyüyen Teknoroma, müşterilerine kaliteli ürünleri uygun fiyatlarla sunma vizyonunu benimseyerek kendi özgün yolunu çizmiştir.
                    <br />
                    <br />
                    <b>Kuruluş Hikayemiz</b>
                    <br />
                    <br />
                    2010 yılında kurulan Teknoroma, başlangıçta küçük bir işletme olarak yola çıktı. Ancak, müşteri memnuniyetine verdiği önem ve kaliteli ürünleri uygun fiyatlarla sunma kararlılığı sayesinde hızla büyüdü. Şirketimiz, başlangıçtaki tutkusunu ve ilk günkü heyecanını kaybetmeden, her geçen gün daha fazla müşteriye ulaşmaya devam ediyor.
                    <br />
                    <br />
                    <b>Ürün Yelpazesi</b>
                    <br />
                    <br />
                    Teknoroma olarak, mağazalarımızda her türlü ürünü bulabilirsiniz. Elektronikten ev eşyalarına, giyimden oyuncaklara kadar geniş bir ürün yelpazesi sunuyoruz. Her kategoriye özenle seçtiğimiz ürünlerle müşterilerimize çeşitlilik ve kalite sunmaktan gurur duyuyoruz.
                    <br />
                    <br />
                    <b>Vizyonumuz ve Misyonumuz</b>
                    <br />
                    <br />
                    Teknoroma olarak vizyonumuz, müşterilerimize en iyi alışveriş deneyimini yaşatmak ve genişleyen şube ağımızla tüm ülkede daha fazla insana ulaşmaktır. Misyonumuz ise kaliteyi uygun fiyatlarla sunarak müşteri memnuniyetini en üst seviyeye çıkarmak ve topluma değer katmaktır.
                    <br />
                    <br />
                    <b>Genişleyen Şube Ağımız</b>
                    <br />
                    <br />
                    Başlangıçta küçük bir mağaza ile yola çıkan Teknoroma, bugün tüm ülkede şubeler açarak müşterilerimize daha yakın olma fırsatı buluyor. Genişleyen şube ağımız, size daha iyi hizmet sunabilmek için sürekli çaba sarf ediyor.
                    <br />
                    <br />
                    <b>Geleceğe Bakış</b>
                    <br />
                    <br />
                    Teknoroma olarak gelecekte de müşterilerimize kaliteli ürünleri en uygun fiyatlarla sunma çabamız devam edecek. Hedefimiz, Türkiye genelinde daha fazla insanla buluşmak ve Teknoroma kalitesini herkesle paylaşmaktır.
                    <br />
                    <br />
                    Teşekkür ederiz ki, bizi tercih ettiğiniz için! Sizlerle birlikte büyümek ve daha nice yıllar boyunca kaliteli hizmet sunmak için buradayız.
                    <br />
                    <br />
                    Saygılarımızla,
                    <br />
                    <br />
                    Teknoroma Ailesi
                </span>
            </div>
        </div>
   </div>
</div>