@using Teknoroma.Application.Features.Branches.Models
@model CreateBranchViewModel
@{
    ViewData["Title"] = "Şube Oluştur - Teknoroma";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header bg-info">
                <h2 class="text-white">Şube Ekle</h2>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <form method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div asp-validation-summary="All">
                            </div>
                            <div class="form-group">
                                <label asp-for="BranchName"></label>
                                <input type="text" class="form-control" asp-for="BranchName">
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input type="number" class="form-control" asp-for="PhoneNumber">
                            </div>
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <textarea class="form-control" cols="4" rows="3" asp-for="Address"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea class="form-control" cols="4" rows="3" asp-for="Description"></textarea>
                            </div>    
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-block waves-effect waves-light">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


