@using Teknoroma.Application.Features.Brands.Models
@model BrandReportViewModel
@{
    ViewData["Title"] = "BrandReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="card">
        <div class="card-header bg-info">
            <div class="d-flex">
                <div class="col-md-10 my-auto">
                    <h2 style="color:white;">En Çok Satış Yapılan Markalar</h2>
                </div>
                <div class="col-md-2">
                    <form method="get" asp-controller="Brand" asp-action="BrandReport">
                        <div class="d-flex">
                            <div>
                                <input type="text" class="form-control date" name="startDate" id="birthdatepicker" data-toggle="daterangepicker" data-single-date-picker="true">
                            </div>
                            <div>
                                <input type="text" class="form-control date" name="endDate" id="birthdatepicker" data-toggle="daterangepicker" data-single-date-picker="true">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block waves-effect waves-light">Filtrele</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                        <table id="datatable-buttons-brandSellingReport" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                        <thead>
                            <tr>
                                <th class="dt-orderable-asc dt-orderable-desc">Marka</th>
                                <th aria-sort="descending" class="dt-type-numeric dt-orderable-asc dt-orderable-desc dt-ordering-desc">Satış Yapılan Adet</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var brandSelling in Model.BrandSellingReportViewModels)
                            {
                                <tr>
                                    <td>
                                        @brandSelling.BrandName
                                    </td>
                                    <td>
                                        @brandSelling.TotalSales
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <canvas id="pieChartBrandSellingReport" style="display: block; width: 300px; height: 330px;" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-info">
            <div class="d-flex">
                <div class="col-md-10 my-auto">
                    <h2 style="color:white;">En Çok Kazanç Elde Edilen Markalar</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <canvas id="pieChartBrandEarningReport" style="display: block; width: 300px; height: 330px;" width="300" height="300"></canvas>
                </div>
                <div class="col-md-8">
                        <table id="datatable-buttons-brandEarningReport" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                        <thead>
                            <tr>
                                <th class="dt-orderable-asc dt-orderable-desc">Marka</th>
                                <th aria-sort="descending" class="dt-type-numeric dt-orderable-asc dt-orderable-desc dt-ordering-desc">Kazanç ₺</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var brandEarning in Model.BrandEarningReportViewModels)
                            {
                                <tr>
                                    <td>
                                        @brandEarning.BrandName
                                    </td>
                                    <td>
                                        @brandEarning.TotalPrice ₺
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    window.onload = function () {
        initializeDataTable('datatable-buttons-brandSellingReport', 1, 'desc', [0, 1], 'Marka Satış Raporu');
        generatePieChart('datatable-buttons-brandSellingReport', 'pieChartBrandSellingReport');

        initializeDataTable('datatable-buttons-brandEarningReport', 1, 'desc', [0, 1]);
        generatePieChart('datatable-buttons-brandEarningReport', 'pieChartBrandEarningReport','Marka Kazanç Raporu');
    };

</script>