@using Teknoroma.Application.Features.Brands.Models
@model CreateBrandViewModel
@{
    ViewData["Title"] = "Create Brand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mx-4">
    <div class="col-md-6 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Marka Ekle</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="All">
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandName"></label>
                        <input type="text" class="form-control" asp-for="BrandName">
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input type="number" class="form-control" asp-for="PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description" rows="3" cols="4"></textarea>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-block bg-gradient-primary">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
