@using Teknoroma.Application.Features.Departments.Models
@model CreateDepartmentViewModel
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mx-4">
	<div class="col-md-12 mx-auto">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Departman Ekle</h3>
			</div>
			<div class="row">
				<div class="col-md-12 mx-auto">
					<form method="post" enctype="multipart/form-data">
						<div class="card-body">
							<div asp-validation-summary="All">
							</div>
							<div class="form-group">
								<label asp-for="DepartmentName"></label>
								<input type="text" class="form-control" asp-for="DepartmentName">
							</div>
							<div class="form-group">
								<label asp-for="Description"></label>
								<textarea class="form-control" cols="4" rows="3" asp-for="Description"></textarea>
							</div>
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn bg-olive active">
									<input type="radio" name="IsActive" id="option_b1" autocomplete="off" checked="" value="true">
									Aktif
								</label>
								<label class="btn bg-olive">
									<input type="radio" name="IsActive" id="option_b2" autocomplete="off" value="false">
									Pasif
								</label>
							</div>
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-block bg-gradient-primary">Ekle</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


