@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>500 Internal Server - Teknoroma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="500 Internal Server - Teknoroma" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/themes/Xacton/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/themes/Xacton/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/Xacton/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/Xacton/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-login rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-alpha-t-circle"></i> <b>Teknoroma</b>
                                            </a>
                                        </div>

                                        <div class="text-center">
                                            <img src="~/themes/Xacton/assets/images/500-error.svg" alt="error" height="140">
                                            <h1 class="h4 mb-3 mt-4">Suncusu Hatası!</h1>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-12 text-center">
                                                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-home mr-2"></i>Ansayfaya Git</a>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- jQuery  -->
    <script src="~/themes/Xacton/assets/js/jquery.min.js"></script>
    <script src="~/themes/Xacton/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/Xacton/assets/js/metismenu.min.js"></script>
    <script src="~/themes/Xacton/assets/js/waves.js"></script>
    <script src="~/themes/Xacton/assets/js/simplebar.min.js"></script>

    <!-- App js -->
    <script src="~/themes/Xacton/assets/js/theme.js"></script>

</body>

</html>