@using Teknoroma.Application.Features.AppUsers.Models
@model CreateAppUserViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mx-4">
	<div class="col-md-12 mx-auto">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Kullanıcı Oluştur</h3>
			</div>
			<div class="row">
				<div class="col-md-12 mx-auto">
					<form method="post" enctype="multipart/form-data">
						<div class="card-body">
							<div asp-validation-summary="All">
							</div>
							<div class="form-group">
								<label asp-for="UserName"></label>
								<input type="text" class="form-control" asp-for="UserName">
							</div>
							<div class="form-group">
								<label asp-for="Password"></label>
								<input type="password" class="form-control" asp-for="Password">
							</div>
							<div class="form-group">
								<label asp-for="Email"></label>
								<input type="email" class="form-control" asp-for="Email">
							</div>
							<div class="form-group">
								<label asp-for="FirstName"></label>
								<input type="text" class="form-control" asp-for="FirstName">
							</div>
							<div class="form-group">
								<label asp-for="LastName"></label>
								<input type="text" class="form-control" asp-for="LastName">
							</div>
							<div class="form-group">
								<label asp-for="PhoneNumber"></label>
								<input type="number" class="form-control" asp-for="PhoneNumber">
							</div>
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-block bg-gradient-primary">Ekle</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
