@using Teknoroma.Application.Features.AppUsers.Models
@model LoginViewModel
@{
    ViewData["Title"] = "Giriş - Teknoroma";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row mx-4">
    <div class="col-md-6 mx-auto">
        <div asp-validation-summary="All">
        </div>
        <form method="post">
            <div class="form-group my-1">
                <label asp-for="UserName"></label>
                <input type="text" class="form-control" asp-for="UserName" />
            </div>
            <div class="form-group my-1">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="d-grid gap-2 my-1">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

